@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');



:root {
    --cor-principal: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    color: var(--cor-secundaria);
    background-color: var(--cor-principal);
}
.header {
    padding: 2% 0% 0% 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--cor-terciaria);
    font-size: 24px;
}

.header__menu__link:hover{
    scale: 104%;
}

.titulo-strong {
    color: var(--cor-terciaria);
}

.apresentacao {
    margin: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;


}

.apresentacao__conteudo__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

.apresentacao__conteudo__paragrafo {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--cor-secundaria);
    width: 50%;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    

}

.apresentacao__links__navegacao:hover{
    scale: 102%;
    background-color: var(--cor-principal);
    box-shadow: 0 0 10px  var(--cor-terciaria), 0 0 40px  var(--cor-terciaria), 0 0 80px  var(--cor-terciaria);
}

.apresentacao__imagem {
    width: 50%;
}

.footer {
    display: flex;
    justify-content: center;
    background-color:  var(--cor-terciaria);
    color: var(--cor-principal);
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}